**/dub.selections.json
**/.dub
**/.project
**/.settings
**/.buildpath
sh.exe.stackdump
PKGBUILD.local
flatman
compositor/flatman-compositor
dock/flatman-dock
menu/flatman-menu
volume-icon/flatman-volume-icon
xinput-gui/flatman-input
*.sync-conflict*
*.swp
1