**/dub.selections.json
**/.dub
**/.project
**/.settings
**/.buildpath
sh.exe.stackdump
PKGBUILD.local
flatman
compositor/flatman-compositor
dock/flatman-dock
menu/flatman-menu
volume-icon/flatman-volume-icon
xinput-gui/flatman-input
backlight-notify/flatman-backlight-notify
volume-notify/flatman-volume-notify
battery-icon/flatman-battery-icon
wm/flatman-wm
context/flatman-context
bar/flatman-bar
launcher/flatman-launcher
*.sync-conflict*
*.swp
1
vgcore.*
trace.*
callgrind.*
trace.def
trace.log

\.vscode/
